/* Navbar */

.container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}

.bar1{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 20px;
  font-family: margarine;
  font-size: 35px;
   
}


.bar1 a{
text-decoration: none;
color: black;
  
  
}
.bar2{
  display: flex;
  flex-direction: row; 
  gap: 20px;
   font-family: lora;
 
  
   
}

.navigation{
  display: flex;
  flex-direction: row;
}

.navigation a{
  text-decoration: none;
  padding: 20px;
}

.nav1{
  justify-content: space-between;
  color: black;
}

.connect{
  border: solid;
  background-color: black;
  color: aliceblue;
  border-radius: 15px;
  width: 150px;
  text-align: center;
  
}

/* Hero */

.herogrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: gainsboro;
  padding: 50px;
  margin-top: 20px;
}

.hero1{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.hero1 h4{
  font-size: 4rem;
  font-family: margarine;
  margin-bottom: 2rem;

}

.hero1 p{
  font-size: 1rem;
  font-family: lora;

}

.hero1 button{
  width: 200px;
  padding: 10px 10px;
  border-radius: 15px;
  border: none;
  background-color: black;
  color: white;
}

.herob a{
text-decoration: none;
color: white;
font-size: 20px;
}

.hero-image{
  object-fit: cover;
  height:fit-content;
}


/* feature */

.featurecontainer{
 text-align: center;
  margin-top: 50px;
  font-family: lora;
  margin-bottom:50px;
}

.feature1container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:30px;
}

.img1{
  justify-content: center;
  border-radius: 20px;
  text-align: center;
}

.img1 h4{
  margin: 0;
  font-weight: bold;
  font-size: 13px;
  margin-top: 10px;
}

.img1 p{
  margin:0;
  font-size: 12px;
  margin-top: 5px;
}

img{
height: 400px;
border-radius: 15px;
}

/* Bootstrap */

#carouselExampleIndicators{
  width: 650px;
  margin-left: 100px;
  margin-top: 50px;
}

.bootstrapcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px ;
 
}

#carouselExampleIndicators{
  width: auto;
}

.bootstrapH{
  width: auto;
  margin-left: 50px;
  margin-top: 60px;

  
}

.bootstrapH h2{
  font-family: margarine;
}

.bootstrapH p{
  font-family: lora;
  text-align: justify;
  width: 600px;
}

.bootstrapH button{
  margin-bottom: 20px;
  border:none;
  background-color: black;
  color: white;
  padding: 10px 10px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  width: 200px;
}

.uiux{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 20px;
  margin-left: 80px;
  margin-right: 60px;
  gap: 50px;
}

.uiux img{
 height: 428px;
 width: 280px;
 border-radius: 0;
 margin-top: 10px;
 padding: 20px;
 padding-bottom: 0;
}


.uiux h4{
 font-size: 20px;
 text-align: center;
 margin-top: 30px;
 font-weight: 400;
}

.uiux div{
  background-color: gainsboro;
  text-align: center;
}

.uiuxheader{
  text-align: center;
  font-family: lora;
}





@media (max-width: 768px) {
 
 .herogrid{
  grid-template-columns: 1fr;
 }

 .hero-image{
  object-fit: fill;
 }
 .feature1container{
  grid-template-columns: 1fr;
 }

 .bootstrapcontainer{
  grid-template-columns: 1fr;
 }

.uiux{
grid-template-columns: 1fr;
}

}